# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
venv_*/

# VS Code / IDEs
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
pip-log.txt
pip-delete-this-directory.txt

# Tests
.pytest_cache/

# Streamlit
.streamlit/

# Environment variables
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints
